<!DOCTYPE html>
<html lang=eng>

<head>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.24.0/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="navbar bg-neutral text-neutral-content">
        <a class="btn btn-ghost normal-case text-xl">Home</a>
        <a class="btn btn-ghost normal-case text-xl">Open Case</a>
    </div>
</body>

{% block title%} Help Zone {% endblock%}