{% include "base_generic.html" %}

{% block content %}

{% comment %} Current active tickets {% endcomment %}
<div class="overflow-x-auto">
    <table class="table w-full">
        {% comment %} Headings {% endcomment %}
        <thead>
            <tr>
                <th>ID</th>
                <th>Issue Type</th>
                <th>Issue Description</th>
                <th>Date and Time</th>
                <th>Update Ticket</th>
            </tr>
        </thead>
        <tbody>
            {% for i in tickets %}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.issue_type}}</td>
                    <td>{{i.issue_description}}</td>
                    <td>{{i.date}}</td>
                    <td><a class="btn btn-info" href="{% url 'update_ticket' i.id %}">Update</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}